{% extends "admin/base.html.twig" %}
{% block body %}
	<div class="container-fluid">
		<div class="row mb-4">
			<div class="col-6 ">
				<div class="card shadow ">
					<div class="card-body">
						<canvas id="categories" width="400" height="230"></canvas>
					</div>
				</div>
			</div>
			<div class="col-2 ">
				<div class="card shadow ">
					<style>
						.btn-xl {
							height: 128px;
							width: 128px;
							border-radius: 100px;
						}

						.btn-info {
							position: relative;
							left: 115px;
						}
						.btn-success {
							position: relative;
							left: 50px;
						}
						.btn-warning {
							position: relative;
							left: 90px;
						}
					</style>
					<div class="card-body mb-4">
						<a class="btn btn-primary me-2 mb-4" target="_blank" role="button">Nombre totales inscrit 750
							<i class="fas fa-user-check"></i>
						</a>
						<br><br>
						<a class="btn btn-primary me-2 mb-4" target="_blank" role="button">Nombre totales hommes 550
							<i class="fas fa-user-check"></i>
						</a>
						<br><br>
						<a class="btn btn-primary me-2 mb-4" target="_blank" role="button">Nombre totales filles 200

							<i class="fas fa-user-check"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-4 ">
				<div class="card shadow ">
					<div class="card-body">
						<a href="#" class="btn btn-primary btn-block mb-4">
							Etat financiere</a>

						<button type="button" class="btn btn-info btn-rounded btn-xl  mb-4">28 budget votées
						</button><br>
						<button type="button" class="btn btn-success btn-rounded btn-xl">122 dépenses realisées</button>
						<button type="button" class="btn btn-warning btn-rounded btn-xl">12002000 F cfa depensé
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-6 ">
				<div class="card shadow ">
					<div class="card-body">
						<a href="#" class="btn btn-primary btn-block mb-4">
							Resultat election</a>

						<canvas id="votes" width="400" height="300"></canvas>
					</div>
				</div>
			</div>
			<div class="col-6 ">
				<div class="card shadow ">
					<div class="card-body height: auto">

						{{ include('calendrier/index.html.twig') }}

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

	<script>
		let categories = document.querySelector("#votes")
let categGraph = new Chart(categories, {
type: "pie",
data: {
labels: [
"Liste rouge", "Liste jaune", "Liste bleu"
],
datasets: [
{
label: "Répartition des catégories",
data: [
2, 5, 3
],
backgroundColor: ["red", "yellow", "blue", "orange"]
}
]
}
})
const ctx = document.getElementById('categories').getContext('2d');
const myChart = new Chart(ctx, {
type: 'bar',
data: {
labels: [
'Budget 2019',
'Budget 2018',
'Budget 2017',
'Budget 2016 ',
'Budget election',
'Budget dinner de gala'
],
datasets: [
{
label: 'Repartitions des 6 dernieres budgets votés',
data: [
12,
19,
3,
5,
7,
3
],
backgroundColor: [
'rgba(255, 99, 132, 0.2)',
'rgba(54, 162, 235, 0.2)',
'rgba(255, 206, 86, 0.2)',
'rgba(75, 192, 192, 0.2)',
'rgba(153, 102, 255, 0.2)',
'rgba(255, 159, 64, 0.2)'
],
borderColor: [
'rgba(255, 99, 132, 1)',
'rgba(54, 162, 235, 1)',
'rgba(255, 206, 86, 1)',
'rgba(75, 192, 192, 1)',
'rgba(153, 102, 255, 1)',
'rgba(255, 159, 64, 1)'
],
borderWidth: 1
}
]
},
options: {
scales: {
y: {
beginAtZero: true
}
}
}
})
	</script>
{% endblock %}
