{% extends "admin/base.html.twig" %}

{% block body %}
	<div class="container-fluid">
		<div class="row mb-4">
			<div class="col-6 ">
				<div class="card shadow ">
					<div class="card-body">
						<div class="chart-area"></div>
					</div>
				</div>
			</div>
			<div class="col-2 ">
				<div class="card shadow ">
					<div class="card-body">
						<div class="chart-area"></div>
					</div>
				</div>
			</div>
			<div class="col-4 ">
				<div class="card shadow ">
					<div class="card-body">
						<div class="chart-area"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-8 ">
				<div class="card shadow ">
					<div class="card-body">
						<div class="chart-area"></div>
					</div>
				</div>
			</div>
			<div class="col-4 ">
				<div class="card shadow ">
					<div class="card-body">
						<div class="chart-area"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
