{% extends "profile_utilisateurs/base.html.twig" %}
{% block body %}

	<div class="container-fluid bg-light">
		<div class="row">
			<div class="col-2"></div>
			<div
				class="col-8">
				<!--Section: News of the day-->
				<div class="row position-relative" style="top: 100px">
					<div class="col-md-4 mb-4">
						<div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 position-relative" style="top: 15px" data-mdb-ripple-color="light">
							<img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid"/>
							<a href="#!">
								<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
							</a>
						</div>
					</div>

					<div class="col-md-8 mb-4">
						<span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Nouveau</span>
						<h4>
							<strong>Journée IDA nationale 2022</strong>
						</h4>
						<p class="text-muted">
							Cher etudiant nous avons le plaisir de vous annoncer que la Journée IDA national est prévus du 22juin au 24 a thies 
																																																		Cette journée placé sous le haut parrainage de Monsieur khalifa sylla et coordonateur moussa lo  sera une rencontre d'echange et de partage juu h Lorem ipsum dolor sit amet consectetur adipisicing elit. At, eveniet ea incidunt namationem, nesciunt neque quam.

						</p>
						<button type="button" class="btn btn-primary">Lire plus</button>
					</div>
					<hr>
				</div>

				<!--Section: News of the day-->
			</div>
			<div class="col-2"></div>
		</div>
		<div class="row">
			<div class="col-2"></div>
			<div
				class="col-8">
				<!--Section: News of the day-->
				<div class="row position-relative" style="top: 100px">
					<div class="col-md-4 mb-4">
						<div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 position-relative" style="top: 15px" data-mdb-ripple-color="light">
							<img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid"/>
							<a href="#!">
								<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
							</a>
						</div>
					</div>

					<div class="col-md-8 mb-4">
						<span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3"></span>
						<h4>
							<strong>Sixième édition de la Journée d’Animation scientifique (JDAS) de l’AASTIC
							</strong>
						</h4>
						Les journées d’animation scientifique de l’aastic ont été initiées dans le but de renforcer et de promouvoir les matières scientifiques et les technologies de l’information et de la communication (TIC) chez les élèves. elle mobilise plus d’une vingtaine de lycées d’enseignement général et/ou technique dans toutes les régions du sénégal et s’appuie sur les clubs scientifiques de ces établissements. p class="text-muted"></p>
					<button type="button" class="btn btn-primary">Lire plus</button>
				</div>
				<hr>
			</div>

			<!--Section: News of the day-->
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row">
		<div class="col-2"></div>
		<div
			class="col-8">
			<!--Section: News of the day-->
			<div class="row position-relative" style="top: 100px">
				<div class="col-md-4 mb-4">
					<div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 position-relative" style="top: 15px" data-mdb-ripple-color="light">
						<img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid"/>
						<a href="#!">
							<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
						</a>
					</div>
				</div>

				<div class="col-md-8 mb-4">
					<span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3"></span>
					<h4>
						<strong>Mission de benchmarking en Turquie du 19 au 29 mars 2022
						</strong>
					</h4>
					<p class="text-muted">
						Jeune université évoluant dans l’enseignement supérieur à distance, l’Université virtuelle du Sénégal (UVS), par l’entremise de son Excellence Monsieur l’Ambassadeur de la République de Turquie au Sénégal, Dr Ahmet KAVAS, a organisé une mission de benchmarking en Turquie pour apprendre de leur modèle universitaire à distance vieux de près de cinquante (50) ans.
					</p>
					<button type="button" class="btn btn-primary">Lire plus</button>
				</div>
				<hr>
			</div>

			<!--Section: News of the day-->
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row">
		<div class="col-2"></div>
		<div
			class="col-8">
			<!--Section: News of the day-->
			<div class="row position-relative" style="top: 100px">
				<div class="col-md-4 mb-4">
					<div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 position-relative" style="top: 15px" data-mdb-ripple-color="light">
						<img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid"/>
						<a href="#!">
							<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
						</a>
					</div>
				</div>

				<div class="col-md-8 mb-4">
					<span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Nouveau</span>
					<h4>
						<strong>Journée IDA nationale 2022</strong>
					</h4>
					<p class="text-muted">
						Cher etudiant nous avons le plaisir de vous annoncer que la Journée IDA national est prévus du 22juin au 24 a thies 
																																																																																																																																										      eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
																																																																																																																																										      sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
					</p>
					<button type="button" class="btn btn-primary">Lire plus</button>
				</div>
				<hr>
			</div>

			<!--Section: News of the day-->
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row">
		<div class="col-2"></div>
		<div
			class="col-8">
			<!--Section: News of the day-->
			<div class="row position-relative" style="top: 100px">
				<div class="col-md-4 mb-4">
					<div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 position-relative" style="top: 15px" data-mdb-ripple-color="light">
						<img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid"/>
						<a href="#!">
							<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
						</a>
					</div>
				</div>

				<div class="col-md-8 mb-4">
					<span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Nouveau</span>
					<h4>
						<strong>Facilis consequatur eligendi</strong>
					</h4>
					<p class="text-muted">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
																																																																																																																																										      eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
																																																																																																																																										      sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
					</p>
					<button type="button" class="btn btn-primary">Lire plus</button>
				</div>
				<hr>
			</div>

			<!--Section: News of the day-->
		</div>
		<div class="col-2"></div>
	</div>

</div>{% endblock %}
