{% extends "profile_utilisateurs/base.html.twig" %}

{% block body %}
	<div class="container-fluid">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-4 col-lg-4">
					<div class="card shadow mb-4">
						<div class="card-body">
							<h1>Mes cotisations</h1>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4">
					<div class="card shadow mb-4">
						<div class="card-body">
							<h1>Votes</h1>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4">
					<div class="card shadow mb-4">
						<div class="card-body">
							<h1>Actu</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4 col-lg-4">
					<div class="card shadow mb-4">
						<a href="">
							<div class="card-body">
								<h1>Je candidate</h1>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4">
					<div class="card shadow mb-4">
						<a href="">
							<div class="card-body">
								<h1>Inscrition liste</h1>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
